* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgb(238, 238, 238);
  color: #0b0909;
}

.bookList {
  display: block;

  /* grid-template-columns: repeat(4, 1fr); */
  /* width: 90vw; */
  /* margin: 3rem auto;
  max-width: 1170px;
  gap: 1rem;
  text-align: center;
  align-items: start; */
}

.book {
  background: rgb(215, 215, 215);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.book img {
  width: 100%;
  object-fit: cover;
}
.book h3 {
  color: #617e99;
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}

.book p {
  margin: 1rem 0 0.5rem;
}
a {
  text-decoration: none;
  color: #0b0909;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 15px;
  width: 90vw;
}
.navbar a {
  color: inherit;
  flex: 0;
}
#logo {
  margin-right: 50px;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
  cursor: pointer;
  flex: 1;
}
#toggler,
.navbar label {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .navbar {
    justify-content: space-around;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .vis {
    display: flex;
    justify-content: space-around;
    width: max-content;
  }
}
